In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import dataframes
df_ords_prior = pd.read_csv(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv', index_col = False)
df_ords = pd.read_csv(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Prepared Data/orders_clean.csv', index_col = False)

In [3]:
# Check output 1
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Check output 2
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2398795,1,prior,2,3,7,15.0
1,473747,1,prior,3,3,12,21.0
2,2254736,1,prior,4,4,7,29.0
3,431534,1,prior,5,4,15,28.0
4,3367565,1,prior,6,2,7,19.0

In [7]:
# Shape check 1
df_ords_prior.shape

(32434489, 4)

In [8]:
# Shape check 2
df_ords.shape

(3214874, 7)

In [3]:
# Creating new dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [4]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [5]:
df_merged_large['_merge' ].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [6]:
# Export merged file in pickle format
df_merged_large.to_pickle(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')