In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import customer dataset
df_customer = pd.read_csv(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Original Data/customers.csv', index_col = False)

In [ ]:
# Step 4 - Data wrangling

In [3]:
df_customer.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [4]:
df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
df_customer.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [9]:
# Dropping First Name column, as it has many missing values
df_customer = df_customer.drop(columns = ['First Name'])

In [10]:
# Renaming column Surnam
df_customer.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [14]:
# Step 5 - Data check
 # Duplicates check
f_dups = df_customer[df_customer.duplicated()]
f_dups

Empty DataFrame
Columns: [user_id, Surname, Gender, STATE, Age, date_joined, n_dependants, fam_status, income]
Index: []

In [15]:
# Data type check
df_customer.dtypes

user_id          int64
Surname         object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [ ]:
# Step 6 - Combine dataframes

In [16]:
# Import Instacart dataframe
ords_prods_merge = pd.read_pickle(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_flags.pkl')

In [17]:
# Merge
df_cus_insta = ords_prods_merge.merge(df_customer, on = 'user_id')

In [18]:
df_cus_insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 30 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   first_order             bool
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  busiest_day             object
 15  Busiest_days            object
 16  busiest_period_loc      object
 17  max_order               int64
 18  loyalty_flag            object
 19  avg_price               float64
 20  avg_days                float64
 21  frequency_flag          object
 22  Surname                 object
 23  Gender                  object
 24  STATE                   object
 25  Age                     int64
 26  date_joined             object
 27  n_dependants            int64
 28  fam_status              object
 29  income                  int64
dtypes: bool(1), float64(4), int64(14), object(11)
memory usage: 7.0+ GB

In [19]:
# Esport new dataframe
df_cus_insta.to_pickle(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Prepared Data/mega_dataframe.pkl')