In [ ]:
#Import libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [ ]:
#Folder path

In [3]:
import os
for root, dirs, files in os.walk("C:/Users/ab-fv/OneDrive/Documentos"):
    for file in files:
        if "orders.csv" in file.lower():
            print(os.path.join(root, file))

C:/Users/ab-fv/OneDrive/Documentos\Instacart Basket Analysis\02 Data\Original Data\orders.csv

In [3]:
df = pd.read_csv(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Original Data/orders.csv', index_col = False)

In [ ]:
# Using vars_list shortcut

In [4]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [ ]:
# Printing the first 5 rows of dataframe

In [5]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [ ]:
# Step 7 Import products

In [6]:
import os
for root, dirs, files in os.walk("C:/Users/ab-fv/OneDrive/Documentos"):
    for file in files:
        if "products.csv" in file.lower():
            print(os.path.join(root, file))

C:/Users/ab-fv/OneDrive/Documentos\Instacart Basket Analysis\02 Data\Original Data\products.csv

In [7]:
df_prods = pd.read_csv(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Original Data/products.csv', index_col = False)

In [ ]:
# Printing first 20 rows of prods dataframe

In [8]:
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [ ]:
# Printing the names of the columns of prods dataframe

In [9]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [ ]:
# Printing the number of rows and columns of prods dataframe

In [10]:
df_prods.shape

(49693, 5)

In [14]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [ ]:
#The maximum value of the "aisle_id" column is 134.000000

In [15]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [ ]:
#The data type of the “department_id” column is int64