In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Step 3 - Import orders_products_combined dataframe
df_merged_large = pd.read_pickle(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

In [3]:
# Step 4 - Check shape
df_merged_large.shape

(32434489, 12)

In [13]:
# Step 5 - Combine order_products_combined with products

In [4]:
# Import products dataframe
df_prods = pd.read_csv(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Prepared Data/products_clean.csv', index_col = False)

In [5]:
# Check columns of dataframes
df_merged_large.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [6]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [7]:
# Check dataframes shape
df_merged_large.shape

(32434489, 12)

In [8]:
df_prods.shape

(49672, 5)

In [9]:
# Creating new dataframe
df_new_dataframe = df_merged = df_merged_large.merge(df_prods, on='product_id', how='left', indicator='merge_flag')

In [10]:
# Step 6 - Check merge
df_new_dataframe.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_flag
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [11]:
# Step 7 - Export new dataframe
df_new_dataframe.to_pickle(r'C:/Users/ab-fv/OneDrive/Documentos/Instacart Basket Analysis/02 Data/Prepared Data/all_combined.pkl')